# Auto detect text files
* text=crlf charset=utf-8

# Custom for Visual Studio
*.cs diff=csharp charset=utf-8
*.sln merge=union charset=utf-8
*.csproj merge=union charset=utf-8
*.vbproj merge=union charset=utf-8
*.fsproj merge=union charset=utf-8
*.dbproj merge=union charset=utf-8

# Project files
*.appinstaller eol=crlf charset=utf-8
*.bat eol=crlf charset=utf-8
*.c eol=crlf charset=utf-8
*.cs eol=crlf charset=utf-8
*.cpp eol=crlf charset=utf-8
*.config eol=crlf charset=utf-8
*.cmd eol=crlf charset=utf-8
*.csproj eol=crlf charset=utf-8
*.def eol=crlf charset=utf-8
*.ddf eol=crlf charset=utf-8
*.editorconfig eol=crlf charset=utf-8
*.gitattributes eol=crlf charset=utf-8
*.gitignore eol=crlf charset=utf-8
*.h eol=crlf charset=utf-8
*.hpp eol=crlf charset=utf-8
*.inc eol=crlf charset=utf-8
*.inf eol=crlf charset=utf-8
*.map eol=crlf charset=utf-8
*.manifest eol=crlf charset=utf-8
*.mc eol=crlf charset=utf-8
*.md eol=crlf charset=utf-8
*.natvis eol=crlf charset=utf-8
*.ps1 eol=crlf charset=utf-8
*.props eol=crlf charset=utf-8
*.pubxml eol=crlf charset=utf-8
*.resx eol=crlf charset=utf-8
*.rc text eol=crlf charset=utf-8
*.sln eol=crlf charset=utf-8
*.txt eol=crlf charset=utf-8
*.vcxproj eol=crlf charset=utf-8
*.filters eol=crlf charset=utf-8
*.xml eol=crlf charset=utf-8
*.yml eol=crlf charset=utf-8

**AUTHORS eol=crlf charset=utf-8
**COPYING eol=crlf charset=utf-8
**CHANGELOG eol=crlf charset=utf-8
**LICENSE eol=crlf charset=utf-8
**LICENCE eol=crlf charset=utf-8
**README eol=crlf charset=utf-8

*.bmp binary
*.dll binary
*.exe binary
*.ico binary
*.lib binary
*.pdb binary
*.png binary
*.s binary
*.sys binary

# svg standard require LF
*.svg eol=lf charset=utf-8

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain

# Ignore files during repository export
.gitattributes  export-ignore
.gitignore      export-ignore
.gitmodules     export-ignore
.github         export-ignore
