<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.SDK.CPP" version="10.0.26100.2454" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.CPP.x86" version="10.0.26100.2454" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.CPP.x64" version="10.0.26100.2454" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.CPP.ARM64" version="10.0.26100.2454" targetFramework="native" />
  <package id="Microsoft.Windows.WDK.x64" version="10.0.26100.2454" targetFramework="native" />
  <package id="Microsoft.Windows.WDK.ARM64" version="10.0.26100.2454" targetFramework="native" />
</packages>
