<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>net7.0</TargetFramework>
    <TrimUnusedDependencies>true</TrimUnusedDependencies>
    <PublishDir>bin\Release</PublishDir>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
    <BuiltInComInteropSupport>false</BuiltInComInteropSupport>
    <EventSourceSupport>false</EventSourceSupport>
  </PropertyGroup>
</Project>