#pragma code_page(65001)

#include <windows.h>

#define VER_COMMA 3,2,0,0
#define VER_STR "3.2\0"

#define VER_FILEVERSION VER_COMMA
#define VER_FILEVERSION_STR VER_STR
#define VER_PRODUCTVERSION VER_COMMA
#define VER_PRODUCTVERSION_STR VER_STR

#ifndef DEBUG
#define VER_DEBUG 0
#else
#define VER_DEBUG VS_FF_DEBUG
#endif

#define VER_PRIVATEBUILD 0
#define VER_PRERELEASE 0

#define VER_COMPANYNAME_STR "System Informer\0"
#define VER_FILEDESCRIPTION_STR "System Informer\0"
#define VER_LEGALCOPYRIGHT_STR "Copyright (c) Winsider Seminars & Solutions, Inc.  All rights reserved.\0"
#define VER_ORIGINALFILENAME_STR "SystemInformer.sys\0"
#define VER_PRODUCTNAME_STR "System Informer\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	(VER_PRIVATEBUILD | VER_PRERELEASE | VER_DEBUG)
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DRV
FILESUBTYPE    	VFT2_DRV_SYSTEM
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
