name: 'CodeQL Analysis'

on:
  workflow_dispatch:
  schedule:
    - cron: '00 0 * * 0'

jobs:
  analyze_driver:
    name: Analysis
    runs-on: windows-2025
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: ['cpp']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: NuGet Cache
        uses: actions/cache@v4
        with:
          path: packages
          key: nuget-${{ runner.os }}-${{ hashFiles('**/packages.config') }}
          restore-keys: nuget-${{ runner.os }}-
          
      - name: Nuget Restore
        shell: cmd
        working-directory: ${{github.workspace}}
        run: nuget restore .\packages.config -PackagesDirectory .\packages\

      - name: Build Tools
        shell: cmd
        working-directory: ${{github.workspace}}
        run: build\build_tools.cmd

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
          config-file: microsoft/Windows-Driver-Developer-Supplemental-Tools/config/codeql-config.yml@WHCP_25H2
          packs: 'microsoft/windows-drivers@1.8.0,microsoft/cpp-queries@0.0.4'

      - name: Build Driver
        shell: cmd
        working-directory: ${{github.workspace}}
        run: build\build_zdriver.cmd

      - name: Perform CodeQL analysis
        uses: github/codeql-action/analyze@v3
        with:
            category: '/language:${{matrix.language}}'
